<div class="recipe-try">
  <h2 class="try-h2">Search results</h2>
  <div class = "try-container">
    <% @response.each do |response| %>
      <a href="/recipes/show/<%= response ["id"]%>">
        <%= link_to "/recipes/show", response ["id"] %>
        <div class="try-box">
          <%= image_tag response ["image"], class: => "recipe_pic" %>
          <br>
          <p><%= response ["title"] %></p>
          <br>
        </div>
      </a>
    <% end %>
  </div>
</div>
